#################################################
# +-------------------------------------------+ #
# |   Config.YML Revision 02 by Judgetread    | #
# +-------------------------------------------+ #
#################################################
#
#
# [username] gets replaced with players name
#
#
#

#safe warping
SafeWarp:
  enabled: true
  unsafeBlocks:
    - 8
    - 9
    - 10
    - 11
    - 70
    - 71
    - 147
    - 148

#teleporting
Teleport:
  cooldown: 3
  cancelOnMovement: true

Messages:
  prefix: '&6[&aPlayerWarpGUI&6]&f'
  
#gui stuff
GUI:
  rows: 6
  nextPageIcon: '35:8'
  DefaultWarpIcon: '35:9'
  chestText: '&2PlayerWarps'
  playerWarpText: 'Go to &6[username]''s &fwarp'
  
Settings:
  setWarpCost: 0
  disabledWorlds:
    - world_nether
    - world_the_end
  
  
  
  
  
  
  